        
        <footer>
            <ul>
                <li>&copy; Coding Ninjas. All Rights Reserved</li>
                <ul>
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/users/profile">
                        <li>Profile</li>
                    </a>
                </ul>
            </ul>
        </footer>