footer{
    ul{
        background-color: rgb(107, 110, 112);
        display: flex;
        justify-content: flex-start;
        padding-top: 0.7rem 1rem;
        list-style: none;
        height: auto;
        font: 1.2rem Arial, Helvetica, sans-serif;
        color: white;
        font-weight: 300;
        margin: 0;

        a{
            text-decoration: none;
            color: white;
        }

        li:first-child{
            width: auto;
        }
        

        ul{
            display: inline-block;
            margin-left: 2rem;
            padding-top: 0;
            li{
                font-size: 1.2rem;
            }
        }
    }

}